@import 'fonts.css';
@import 'var.css';

::selection {
  background-color: rgba(141, 0, 35, 0.7);
}

body {
    color:              white;
    background-color:   black;
    margin:             0;
}

header{
    height:             95vh;
    max-height:         56.25vw;
    width:              100vw;
    text-align:         center;
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    gap:                1cqw;
}

header > h1 {
    font-family:        kraft;
    color:              rgba(255, 255, 255, 0.95);
    font-size:          18cqw;
    margin:             0;
}

header > h2 {
    font-family:        mono;
    color:              rgba(255, 255, 255, 0.95);
    font-size:          2cqw;
    margin:             0;
}

.chapter-0 {
    background:         url(../pics/bgch0.png);
    background-size:    100% auto;
}

#divider-tape {
    background:         url(../pics/tapedivider.png);
    width:              100vw;
    margin:             0;
    height:             12vh;
    transform:          translate(0, -8vh) rotate(1deg);
    background-size:    cover;
    /* image-rendering:    crisp-edges; */
}
main {
    width:              95vw;
    margin:             0;
    margin-top:         -12vh;
    margin-inline:      auto;
}
h1 {
    font-family:        unbounded;
    margin:             1cqw;
    font-size:          2.3cqw;
}
.about {
    width:              94vw;
    margin-inline:      auto;
}
.about > p {
    height:             30vh;
    width:              67%;
    border-inline:      0.2cqw dashed rgb(12, 12, 12);
}
.fracs {
    display:            flex;
    flex-direction:     row;
    justify-content:    space-between;
    height:             30vh;
}
.fracs>div {
    flex-grow:          1;
    width:              50%;
    transition:         all 1s;
}
.fracs>div>h2 {
    font-size:          2cqw;
    text-shadow:        0 0 10px black;
}
.fracs>div>p {
    font-size:          1cqw;
    text-shadow:        0 0 10px black;
}
.fracs>h3 {
    width:              10%;
    height:             10vh;
    margin-top:         10vh;
    font-family:        zozh;        
    font-size:          3cqw;
    text-align:         center;
    color:              rgb(119, 119, 119);
}
.fracs > div:hover {
    width:                  67%;
}
#phobos {
    background:         linear-gradient(to right, rgb(25, 9, 40), transparent);
    text-align:         left;
    padding-left:       2vw;
    font-family:        mono;
}
#offsprings {
    background:         linear-gradient(to left, rgb(7, 18, 36), transparent);
    text-align:         right;
    padding-right:      2vw;
    font-family:        oldsov;
}
#offsprings > h2 {
    font-size:          1.6cqw;
}
#offsprings > p {
    font-size:          0.8cqw;
}
.npcs {
    height:             34vh;
    width:              90vw;
}
.npcs>ul {
    width:              100%;
    height:             100%;
    display:            flex;
    flex-direction:     row;
    overflow:           scroll;
    scrollbar-color:    rgb(15, 15, 15) black;
    scrollbar-width:    auto;
    scrollbar-gutter:   stable both-edges;
    list-style-type:    none;
    gap:                1%;
    justify-content:    space-around;
    align-items:        center;
    padding-inline:     2cqw;
}
.npcs>ul>li {
    height:             90%;
    min-width:          20vw;
    flex-grow:          0;
    overflow:           hidden;
    border-radius:      0.3cqw;
    transition:         transform 0.4s;
    border:             0.2cqw solid rgb(38, 38, 38);
    display:            flex;
    flex-direction:     column;
    align-items:        center;
}
.npcs>ul>li>h2 {
    font-size:          2cqw;
    font-family:        patebold;
    text-align:         center;
    margin:             0.5cqw;
}
.npcs>ul>li>p {
    font-size:          1cqw;
    font-family:        mono;
    text-align:         center;
    margin:             0;
}
.npcs>ul>li:hover {
    transform:          scale(1.02);
}
.npcs>ul>li.offspringsnpc {
    border:             0.2cqw solid rgb(20, 37, 58);
}
.npcs>ul>li.phobosnpc {
    border:             0.2cqw solid rgb(31, 20, 58);
}
.npcimg {
    height:             60%;
    margin-inline:      auto;      
}